#map {
  position: relative;
  top:50px;
  width: 700px;
  height: 700px;
  margin: auto;
  background-color: orange;
}

#playground {
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: auto;
}

.box {
  width: 20px;
  height: 20px;
}

.blank {
  background-color: black;
}

.snake {
  background-color: red;
}

.food {
  background-color: green;
}

.row {display: flex;}